<h3>
  Academics<br></br>
</h3>
<p>
ภาควิชาฯ ได้เปิดหลักสูตรเพื่อสนองความต้องการของประเทศจำนวน 5 หลักสูตร แบ่งเป็นหลักสูตรระดับปริญญาตรี 1 หลักสูตร หลักสูตรนานาชาติระดับปริญญาตรี 1 หลักสูตร หลักสูตรระดับปริญญาโท 2 หลักสูตร และหลักสูตรระดับปริญญาเอก 1 หลักสูตร คือ
</br></br>
หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิศวกรรมคอมพิวเตอร์</br>
หลักสูตรวิศวกรรมศาสตรบัณฑิตนานาชาติ สาขาวิศวกรรมซอฟต์แวร์และความรู้</br>
หลักสูตรวิทยาศาสตรมหาบัณฑิต สาขาเทคโนโลยีสารสนเทศ</br>
หลักสูตรวิศวกรรมศาสตรมหาบัณฑิต สาขาวิศวกรรมคอมพิวเตอร์</br>
หลักสูตรวิศวกรรมศาสตรดุษฎีบัณฑิต สาขาวิศวกรรมคอมพิวเตอร์</br>
นอกจากนี้ภาควิชาฯ ยังให้ความร่วมมือในการสอนรายวิชาหลัก รายวิชารอง และรายวิชาเลือก ที่อยู่ในความชำนาญของภาควิชาฯ ดังได้กล่าวข้างต้น ให้แก่หลักสูตรอื่นๆ ทั้งที่เป็นของภาควิชาฯ ภายใต้คณะวิศวกรรมศาสตร์ ภาควิชาต่างคณะ และภาควิชาในต่างวิทยาเขต
</p>