<!DOCTYPE html>
<html>
<p>
    This is admission score for the past year of Computer Engineering
    
</p><p></br>
<%= link_to image_tag("admission.jpg", alt: "cpe ku score"),
'https://sample-app-winchawakorn.c9users.io/' %>
</p>
<p></br>
    This is admission score for the past year of Software Engineering
</p><br/>
<%= link_to image_tag("skescore.jpg", alt: "cpe ku score"),
'https://sample-app-winchawakorn.c9users.io/' %>
</br>
</html>