<footer class="footer">

<small>
ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ (วิทยาเขตบางเขน)
เลขที่ 50 ถนนงามวงศ์วาน แขวงลาดยาว
เขตจตุจักร กรุงเทพ ฯ 10900
โทร. 0-2797-0999 ต่อ 1403-04 1450

</small>

<nav>

<ul>


</ul>

</nav>

</footer>
